{{define "title"}}Resource Awareness Map{{end}}
{{define "styles"}}
<!--not a style I know, but we need this in the headd tag-->
<script src='https://www.google.com/recaptcha/api.js'></script>
{{end}}
{{define "scripts"}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNIBav6nqSKEx9iaCF_lkgtSR8HX8cpKI">
    </script>
<script type="text/javascript" src="/static/js/map.js"></script>
{{end}}
{{define "body"}}
<form id="uploadform" name="feedbackform" action="/feedback" method="POST" >
  <p>
    Tell us what went wrong
  </p>
  <p>
    <label for="topic">Topic</label>
    <br />
    <select name="topic" required>
      <option value="missingInfo">Missing Information</option>
      <option value="incorrectInfo">Other Incorrect Information</option>
      <option value="wrongPhone">Wrong Phone</option>
      <option value="wrongAddress">Wrong Address</option>
      <option value="orgDoesNotExist">Organization does not exist</option>
      <option value="wrongHourOfOperation">Wrong hours of operation</option>
    </select>
  </p>
  <p>
    <label for="challenge" required>Challenges</label>
    <br/>
    <textarea name="challenges"></textarea>
  </p>
  <p>
    <label for="recommendations" required>Recommendations</label>
    <br/>
    <textarea name="recommendations"></textarea>
  </p>
  <p>
    <label for="email">Email (if you want us to contact you about this issue)</label>
    <br/>
    <input type="email" name="email"></input>
  </p>
  <p>
    <div class="g-recaptcha" data-sitekey="6Ld21hsTAAAAAFkh5MhVr2_sId_8PCRPRW7SWupM"></div>
  </p>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>
{{end}}
