{{define "title"}}Resource Awareness Philadelphia{{end}}
{{define "styles"}}{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
    <form id="entry">
      What do you need today?<br>
      <input type="text" name="firstname">
    </form>
    <div id="fiveBoxes" class="b1">
      <a href="">
        <img src="static/img/phys1.jpg" class="column1" />
      </a>
      <a href="">
        <img src="static/img/phys2.jpg" class="column2" />
      </a>
      <a href="">
        <img src="static/img/phys3.jpg" class="column3" />
      </a>
    </div>       
    <div id="fiveBoxes" class="b2">
      <a href=""><img src="static/img/safe1.jpg" class="column1" /></a>
      <a href=""><img src="static/img/safe2.jpeg" class="column2" /></a>
      <a href=""><img src="static/img/safe3.jpg" class="column3" /></a>
    </div>   
    <div id="fiveBoxes" class="b3">
      <a href=""><img src="static/img/soc1.jpg" class="column1" /></a>
      <a href=""><img src="static/img/soc2.jpg" class="column2" /></a>
      <a href=""><img src="static/img/soc3.jpg" class="column3" /></a>
    </div>   
    <div id="fiveBoxes" class="b4">
      <a href=""><img src="static/img/spir1.jpg" class="column1" /></a>
      <a href=""><img src="static/img/spir2.jpg" class="column2" /></a>
      <a href=""><img src="static/img/spir3.jpg" class="column3" /></a>
    </div>   
    <div id="fiveBoxes" class="b5">
      <a href=""><img src="static/img/tale1.jpg" class="column1" /></a>
      <a href=""><img src="static/img/tale2.jpg" class="column2" /></a>
      <a href=""><img src="static/img/tale3.jpg" class="column3" /></a>
    </div>
{{end}}
