*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  margin: 25px 25px;
  }

menu {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

#logo {
  width: 200px;
  height: 306px;
  display: block;
  margin: auto;
  border-radius: 50px;
}

img.column1 {
  float: left;
  width: 33%;
  height: 150px;
  padding: 1%;

}

img.column2 {
  width: 33%;
   height: 150px;
   padding: 1%;
}

img.column3 {
  float: right;
  width: 33%;
  height: 150px;
  padding: 1%;

}
/* Hover over images, decrease opactiy*/
/*
img.one:hover {
opacity: 1.0;
    filter: alpha(opacity=100);
}

img.two:hover {
  opacity: 1.0;
    filter: alpha(opacity=100);

}

img.three:hover {
  opacity: 1.0;
    filter: alpha(opacity=100);

}
*/
/*  color: #FFF;
  background-color: #4bc970; */
#fiveBoxes {
  padding: 19px 39px 18px 39px;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

div.b1 {
  background-color: #CC3333;
  border: 1px solid #CC0000;

}


div.b2 {
  background-color: #FF6600;
  border: 1px solid #FF0000;

}

div.b3 {
  background-color: #FFFF33;
  border: 1px solid #FFCC00;

}

div.b4 {
  background-color: #0000CC;
  border: 1px solid #0000FF;

}

div.b5 {
  background-color: #009933;
  border: 1px solid #00CC00;

}

iframe {
  display: block;
  margin: auto;
  width: 95%;
}

li {
  display: inline;
  padding: 5px;
  list-style-type: none;
}

ul {
  text-align: center;
}

#selected {
  color: #009933;
}

a {text-decoration: none;
}

#entry {
  text-align: center;
}


img.marker {
  display: inline-block;
  width: 50px;
  height: 70px;
  margin: auto;
}

  img.column1, img.column2, img.column3 {
    border-radius: 50px;
    opacity: 0.9;
  }
img.column1:hover, img.column2:hover, img.column3:hover {
  opacity: 0.70;

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 38.5%;
  background-color: #e8eeef;
  color: #660066;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#zipcode {text-align: center;}

.btn {
    border-radius: .25em;
    border-color: darkgrey !important;
    border: 1px solid;
    background-color: whitesmoke;
    padding: .25em;
}

.btn.selected{
    background-color:grey;
    border-color: black !important;
    color: white;
}

.btn:hover {
    background-color:lightgrey;
}

@media screen and (min-width: 480px) {


}

@media screen and (min-width: 768px) {
  img.column1 {
    width: 225px;
    height: 200px;
  }
  img.column2 {
    width: 225px;
    height: 200px;
  }
  img.column3 {
    width: 225px;
    height: 200px;
  }

  @media screen and (min-width: 1024px) {
  img.column1 {
    width: 250px;
    height: 225px;
  }
  img.column2 {
    width: 250px;
    height: 225px;
  }
  img.column3 {
    width: 250px;
    height: 225px;
  }
}
